*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
}

.header{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7)url(images/header-image.png);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.logo{
    width: 200px;
    cursor: pointer;
}

nav button{
    border: 0;
    outline: 0;
    background: red;
    color: white;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 700;
}

.singin:hover{
    border: 1px solid white;
    background: none;
    transition: all;
    transition-duration: 0.3s;
}

.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
}

.language-btn:hover{
    background: red;
    outline: 0;
    border: 0;
    transition: all;
    transition-duration: 0.3s;
}

.language-btn img{
    width: 10px;
    margin-left: 10px;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 40px;
}

.header-content h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 85px;
    max-width: 650px;
}

.header-content h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.email-signup{
    background: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
    
}

.email-signup input{
    flex: auto;
    border: 0;
    outline: 0;
    padding-left: 10px;
    font-size: 20px;
    /* margin-right: 20px; */
}

.email-signup button{
    background: red;
    color: white;
    border: 0;
    outline: 0;
    font-size: 20px;
    cursor: pointer;
    padding: 15px 30px;
}

.features{
    padding: 50px 12px;
    font-size: 22px;
}

.raw{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 50px 0px;
    flex-wrap: wrap;
    justify-content:center ;
}

.text-col{
    flex-basis: 40%;
    margin-bottom: 20px;
}

.img-col{
    flex-basis: 35%;
    margin-bottom: 20px;
}

.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}


.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.features p{
    font-size: 25px;
    line-height: 30px;
}

hr{
    /* width: 100%; */
    left: 0%;
    width: 100%;
    overflow: hidden;
    height: 8px;
    background: silver;
    opacity: 0.2;
    position: absolute;
}

.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}

.faq h2{
    font-size: 40px;
    font-weight: 900;

}

.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
    
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;

}

label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform;
    transition-duration: 0.5s;
}

input[type = "radio"]{
    display: none;
}

.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height, padding;
    /* transition-timing-function: ease-in-out; */
    transition-duration: 0.5s;
}

.accordion input[type = "radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
} 

.accordion input[type = "radio"]:checked + label::after{
    transform: rotate(135deg);
}

.faq .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;
}

.faq small{
    font-size: 20px;
    font-weight: 600;
}

.footer{
    padding: 50px 15% 10px;
    border-top: 8px solid #333;
    color: #777;
}

.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer .raw{
    align-items: flex-start;
    padding: 10px 0;
}

.footer .language-btn{
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
}
.copyright-txt{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}